.index{
  &::after{
    @include clearfix;
  }

  .left_wrap{
    @media (max-width: 1000px){
      display: none;
    }
    width: 300px;
    float: left;
  }

  .right_wrap{
    width: 680px;
    @media (max-width: 1000px){
      width: 99%;
    }
    float: right;
  }



}